form {
	width: 500px;
	margin: 0px auto;
}

input[type="text"],
input[type="password"]
/*input[type="radio"],
input[type="date"],
input[type="checkbox"],
input[type="file"]*/ {
	width: 490px;
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
	padding: 5px 7px; 
}

input[type=submit], input[type="reset"], input[type=file] {
	border: 0;
	background-color: #fff;
	padding: 8px 15px;
	font-size: 15px;
	border-radius: 5px;
	cursor: pointer;
}
input[type=submit]:hover, input[type=file]:hover, input[type="reset"]:hover {
	background-color: #000;
	color: #fff;
}
input:focus, textarea:focus {
	background-color: green;
	color: black;

}
input[type=reset] {
	float: right;
}


label {
	font-size:  18px;
	font-weight: 500;
}
fieldset {
	background-color: blue;
}
